{% extends "layout.html" %}
{% block content %}
    <div id="container">
        <div id="nav-container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="">ProMan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a id="registration" class="nav-link" href="{{ url_for('route_registration') }}">Register<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a id="login" class="nav-link" href="{{ url_for('route_login') }}">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a id="logout" class="nav-link" href="{{ url_for('index', logout='True') }}" hidden>Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="create-board">Create new board</a>
                    </li>
                </ul>
                <span id="navbar-text" class="navbar-text">Please sign in/up for more options!
                </span>
            </div>
        </nav>
        </div>
        <h1>ProMan</h1>
        <!-- Emmet: .board-container>section.board*3>.board-header>(span.board-title{Board $}+button.board-add{Add Card}+button.board-toggle>i.fas.fa-chevron-down)^.board-columns>((.board-column>.board-column-title{New}+.board-column-content>.card*5>(.card-remove>i.fas.fa-trash-alt^.card-title{Card $}))+(.board-column>.board-column-title{In Progress}+.board-column-content>.card*5>(.card-remove>i.fas.fa-trash-alt^.card-title{Card $}))+(.board-column>.board-column-title{Testing}+.board-column-content>.card*5>(.card-remove>i.fas.fa-trash-alt^.card-title{Card $}))+(.board-column>.board-column-title{Done}+.board-column-content>.card*5>(.card-remove>i.fas.fa-trash-alt^.card-title{Card $}))) -->
        <div id="boards"></div>
    </div>
{% endblock %}
